@import "tailwindcss";

.form-container {
  @apply fixed top-[50%] left-[50%] -translate-x-1/2 -translate-y-1/2 p-[1em] w-[50%] max-w-[600px] min-w-[300px] rounded-[20px] shadow-2xl;
}

form input {
  border-bottom: 1px solid #aaa;
  &:focus {
    outline: none;
    border-bottom: 1px solid black;
  }
}
